#heading{
    color:green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    text-align: center;
    padding-top: 30px;
}
body{
    background-color: #0e0d0d;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#formWrap{
   background-color:rgb(188, 224, 129);
   width: 800px;
   height: 1700px;
   margin-left: 400px;
   padding-left: -20px;
   margin-top: 80px;
   border-radius: 25px;
   
}
#logo{
    width:70px;
     height:70px;
     margin-left: 700px;
     padding-top: 1px;
}
#close{
    margin-left: 30px;
}
#firstName{
    width: 300px;
    border-radius: 5px;
    box-shadow: none;
     margin-left: 30px;
}
#secondName{
    width: 300px;
    border-radius: 5px;
    box-shadow: none;
     margin-left: 30px;
}
#myDate{
    width: 270px;
    border-radius: 5px;
    box-shadow: none;
     margin-left: 30px;
}
#email{
    width: 300px;
    border-radius: 5px;
    box-shadow: none;
     margin-left: 30px;
}
#city{
    width: 300px;
    border-radius: 5px;
    box-shadow: none;
     margin-left: 30px;
}
#myAge{
    border-radius: 5px;
    box-shadow: none;
     margin-left: 30px;
}
#phone{
    border-radius: 5px;
    box-shadow: none;
     margin-left: 30px;
     width: 300px;
}
#motivation{
    border-radius: 5px;
    box-shadow: none;
     margin-left: 30px;
     width: 600px; 
     height: 100px;
}
#expectation{
    border-radius: 5px;
    box-shadow: none;
     margin-left: 30px;
     width: 600px; 
     height: 100px;
}
#goals{
    border-radius: 5px;
    box-shadow: none;
     margin-left: 30px;
     width: 600px; 
     height: 100px;
}
#program{
     border-radius: 5px;
    box-shadow: none;
     margin-left: 30px;
     width: 600px; 
     height: 100px;
}
button{
    width: 700px;
    margin-left: 40px;
    border-radius: 15px;
    background-color:green;
    color:white;
    padding: 6px;
}
footer{
   text-align: center;
}
#newAccount{
    width: 400px;
    margin-left: 180px;
    border-radius: 15px;
    background-color:green;
    color:white;
    padding: 6px;
}

